#javascript,
#operators,
#variables,
#variable-naming-conventions,
#functions,
#methods,
#arguments,
#parameters,
#return,
#chaining-methods,
#strings,
#booleans,
#undefined,
#nan,
#null,
#alert,
#comments,
#jquery,
#attributes {
    cursor: pointer;
    color: blue;
}

#javascriptanswer,
#operatorsanswer,
#variablesanswer,
#variable-naming-conventionsanswer,
#functionsanswer,
#methodsanswer,
#argumentsanswer,
#parametersanswer,
#returnanswer,
#chaining-methodsanswer,
#stringsanswer,
#booleansanswer,
#undefinedanswer,
#nananswer,
#nullanswer,
#alertanswer,
#commentsanswer,
#jqueryanswer,
#attributesanswer {
    display: none;
}

li:hover {
    text-decoration: underline;
}